bodegasJAVA/src/conf/xml-resources/web-service-references/servicio/wsdl/localhost_8080/serviciosBodega/servicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="servicio">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8080/serviciosBodega/servicio?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="verificarCompra">
<part name="parameters" element="tns:verificarCompra"/>
</message>
<message name="verificarCompraResponse">
<part name="parameters" element="tns:verificarCompraResponse"/>
</message>
<message name="bodegasCiudad">
<part name="parameters" element="tns:bodegasCiudad"/>
</message>
<message name="bodegasCiudadResponse">
<part name="parameters" element="tns:bodegasCiudadResponse"/>
</message>
<message name="getDatos">
<part name="parameters" element="tns:getDatos"/>
</message>
<message name="getDatosResponse">
<part name="parameters" element="tns:getDatosResponse"/>
</message>
<message name="tipoUsuario">
<part name="parameters" element="tns:tipoUsuario"/>
</message>
<message name="tipoUsuarioResponse">
<part name="parameters" element="tns:tipoUsuarioResponse"/>
</message>
<message name="ciudadUsuario">
<part name="parameters" element="tns:ciudadUsuario"/>
</message>
<message name="ciudadUsuarioResponse">
<part name="parameters" element="tns:ciudadUsuarioResponse"/>
</message>
<message name="eliminarproducto">
<part name="parameters" element="tns:eliminarproducto"/>
</message>
<message name="eliminarproductoResponse">
<part name="parameters" element="tns:eliminarproductoResponse"/>
</message>
<message name="addproducto">
<part name="parameters" element="tns:addproducto"/>
</message>
<message name="addproductoResponse">
<part name="parameters" element="tns:addproductoResponse"/>
</message>
<message name="comprar">
<part name="parameters" element="tns:comprar"/>
</message>
<message name="comprarResponse">
<part name="parameters" element="tns:comprarResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getProductos">
<part name="parameters" element="tns:getProductos"/>
</message>
<message name="getProductosResponse">
<part name="parameters" element="tns:getProductosResponse"/>
</message>
<message name="editproducto">
<part name="parameters" element="tns:editproducto"/>
</message>
<message name="editproductoResponse">
<part name="parameters" element="tns:editproductoResponse"/>
</message>
<message name="getDatosXCiudad">
<part name="parameters" element="tns:getDatosXCiudad"/>
</message>
<message name="getDatosXCiudadResponse">
<part name="parameters" element="tns:getDatosXCiudadResponse"/>
</message>
<message name="getCiudades">
<part name="parameters" element="tns:getCiudades"/>
</message>
<message name="getCiudadesResponse">
<part name="parameters" element="tns:getCiudadesResponse"/>
</message>
<message name="ingresarProducto">
<part name="parameters" element="tns:ingresarProducto"/>
</message>
<message name="ingresarProductoResponse">
<part name="parameters" element="tns:ingresarProductoResponse"/>
</message>
<portType name="servicio">
<operation name="login">
<input wsam:Action="http://servicios/servicio/loginRequest" message="tns:login"/>
<output wsam:Action="http://servicios/servicio/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="verificarCompra">
<input wsam:Action="http://servicios/servicio/verificarCompraRequest" message="tns:verificarCompra"/>
<output wsam:Action="http://servicios/servicio/verificarCompraResponse" message="tns:verificarCompraResponse"/>
</operation>
<operation name="bodegasCiudad">
<input wsam:Action="http://servicios/servicio/bodegasCiudadRequest" message="tns:bodegasCiudad"/>
<output wsam:Action="http://servicios/servicio/bodegasCiudadResponse" message="tns:bodegasCiudadResponse"/>
</operation>
<operation name="getDatos">
<input wsam:Action="http://servicios/servicio/getDatosRequest" message="tns:getDatos"/>
<output wsam:Action="http://servicios/servicio/getDatosResponse" message="tns:getDatosResponse"/>
</operation>
<operation name="tipoUsuario">
<input wsam:Action="http://servicios/servicio/tipoUsuarioRequest" message="tns:tipoUsuario"/>
<output wsam:Action="http://servicios/servicio/tipoUsuarioResponse" message="tns:tipoUsuarioResponse"/>
</operation>
<operation name="ciudadUsuario">
<input wsam:Action="http://servicios/servicio/ciudadUsuarioRequest" message="tns:ciudadUsuario"/>
<output wsam:Action="http://servicios/servicio/ciudadUsuarioResponse" message="tns:ciudadUsuarioResponse"/>
</operation>
<operation name="eliminarproducto">
<input wsam:Action="http://servicios/servicio/eliminarproductoRequest" message="tns:eliminarproducto"/>
<output wsam:Action="http://servicios/servicio/eliminarproductoResponse" message="tns:eliminarproductoResponse"/>
</operation>
<operation name="addproducto">
<input wsam:Action="http://servicios/servicio/addproductoRequest" message="tns:addproducto"/>
<output wsam:Action="http://servicios/servicio/addproductoResponse" message="tns:addproductoResponse"/>
</operation>
<operation name="comprar">
<input wsam:Action="http://servicios/servicio/comprarRequest" message="tns:comprar"/>
<output wsam:Action="http://servicios/servicio/comprarResponse" message="tns:comprarResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://servicios/servicio/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicios/servicio/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getProductos">
<input wsam:Action="http://servicios/servicio/getProductosRequest" message="tns:getProductos"/>
<output wsam:Action="http://servicios/servicio/getProductosResponse" message="tns:getProductosResponse"/>
</operation>
<operation name="editproducto">
<input wsam:Action="http://servicios/servicio/editproductoRequest" message="tns:editproducto"/>
<output wsam:Action="http://servicios/servicio/editproductoResponse" message="tns:editproductoResponse"/>
</operation>
<operation name="getDatosXCiudad">
<input wsam:Action="http://servicios/servicio/getDatosXCiudadRequest" message="tns:getDatosXCiudad"/>
<output wsam:Action="http://servicios/servicio/getDatosXCiudadResponse" message="tns:getDatosXCiudadResponse"/>
</operation>
<operation name="getCiudades">
<input wsam:Action="http://servicios/servicio/getCiudadesRequest" message="tns:getCiudades"/>
<output wsam:Action="http://servicios/servicio/getCiudadesResponse" message="tns:getCiudadesResponse"/>
</operation>
<operation name="ingresarProducto">
<input wsam:Action="http://servicios/servicio/ingresarProductoRequest" message="tns:ingresarProducto"/>
<output wsam:Action="http://servicios/servicio/ingresarProductoResponse" message="tns:ingresarProductoResponse"/>
</operation>
</portType>
<binding name="servicioPortBinding" type="tns:servicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verificarCompra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bodegasCiudad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tipoUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ciudadUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarproducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addproducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editproducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatosXCiudad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCiudades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="servicio">
<port name="servicioPort" binding="tns:servicioPortBinding">
<soap:address location="http://localhost:8080/serviciosBodega/servicio"/>
</port>
</service>
</definitions>