bodegasJAVA/src/conf/xml-resources/web-service-references/servicio/wsdl/localhost_8080/serviciosBodega/servicio.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios/">

<xs:element name="bodegasCiudad" type="tns:bodegasCiudad"/>

<xs:element name="bodegasCiudadResponse" type="tns:bodegasCiudadResponse"/>

<xs:element name="ciudadUsuario" type="tns:ciudadUsuario"/>

<xs:element name="ciudadUsuarioResponse" type="tns:ciudadUsuarioResponse"/>

<xs:element name="getDatos" type="tns:getDatos"/>

<xs:element name="getDatosResponse" type="tns:getDatosResponse"/>

<xs:element name="getDatosXCiudad" type="tns:getDatosXCiudad"/>

<xs:element name="getDatosXCiudadResponse" type="tns:getDatosXCiudadResponse"/>

<xs:element name="getProductos" type="tns:getProductos"/>

<xs:element name="getProductosResponse" type="tns:getProductosResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="tipoUsuario" type="tns:tipoUsuario"/>

<xs:element name="tipoUsuarioResponse" type="tns:tipoUsuarioResponse"/>

<xs:element name="verificarCompra" type="tns:verificarCompra"/>

<xs:element name="verificarCompraResponse" type="tns:verificarCompraResponse"/>

<xs:complexType name="tipoUsuario">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tipoUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatosXCiudad">
<xs:sequence>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="producto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatosXCiudadResponse">
<xs:sequence>
<xs:element name="return" type="tns:contenedor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contenedor">
<xs:sequence>
<xs:element name="bodega" type="xs:string" minOccurs="0"/>
<xs:element name="bodegaID" type="xs:string" minOccurs="0"/>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="ciudadID" type="xs:string" minOccurs="0"/>
<xs:element name="disp" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:string" minOccurs="0"/>
<xs:element name="producto" type="xs:string" minOccurs="0"/>
<xs:element name="productoID" type="xs:string" minOccurs="0"/>
<xs:element name="stock" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bodegasCiudad">
<xs:sequence>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bodegasCiudadResponse">
<xs:sequence>
<xs:element name="return" type="tns:bodega" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bodega">
<xs:sequence>
<xs:element name="bodega" type="xs:string" minOccurs="0"/>
<xs:element name="bodegaID" type="xs:string" minOccurs="0"/>
<xs:element name="bodegaRUC" type="xs:string" minOccurs="0"/>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ciudadUsuario">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ciudadUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatos">
<xs:sequence>
<xs:element name="producto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatosResponse">
<xs:sequence>
<xs:element name="return" type="tns:contenedor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="contrasenia" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarCompra">
<xs:sequence>
<xs:element name="bodegaID" type="xs:string" minOccurs="0"/>
<xs:element name="productoID" type="xs:string" minOccurs="0"/>
<xs:element name="cantidad" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarCompraResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getProductosResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>